@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Ubuntu-Th.ttf);
}

body {
  font-family: myFirstFont;
}

.center-flyer {
  z-index: 6;
  text-align: center;
  padding-top: 15vh;
  width: 100%;
  line-height: 1;
  height: 50vh;
  background-color: transparent;
  justify-content: center;
  pointer-events: none;
  font-size: 110px;
  font-family: myFirstFont;
  font-weight: 900;
}

@media screen and (max-width: 400px) {
  portrait {
    font-size: 24px;
  }
}
