.searchbar {
  position: relative;
  display: inline-flex;
}

.searchbar input[type="text"] {
  border: 0;
  padding: 0;
  width: 0px;
  height: 35px;
  border-radius: 3px;
  transition: all 0.3s ease;
  outline: none;
}

.searchbar .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  background: none;
  border-radius: 3px;
  color: #818182;
  transition: all 0.5s 0.3s ease;
}

.searchbar .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.searchbar .icon.active {
  background: #fff;
  transition: all 0.3s ease;
}

.searchbar input[type="text"].active {
  width: 250px;
  padding: 0 10px;
  transition: all 0.5s 0.2s ease;
  outline: none;
}
