
<footer
        style="width: 100%; bottom: 0; font-family: myFirstFont;  background-color: rgb(1,10,45); color: rgb(176,222,237); padding: 80px;">
        <div class='row justify-content-evenly text-align-left'>
            <div class='col'>
                <h3>SERVICES</h3>
                <br></br>
                <a href="">Help & Support</a>
                <br></br>
                <a href="">Online Assistant</a>
                <br></br>
                <a href="">Schulung & Training</a>
                <br></br>
                <a href="">Consulting Services</a>
                <br></br>
                <a href="">Events</a>

            </div>
            <div class='col'>
                <h3>SOLUTIONS</h3>
                <br></br>
                <a href="../solutions/werts.php">Wertstromanalyze</a>
                <br></br>
                <a href="../solutions/simulation.php">Simulation</a>
                <br></br>
                <a href="../solutions/newsfeed.php">News Feed</a>
                <br></br>
                <a href="../solutions/executive.php">Executive Theater</a>
                <br></br>
                <a href="../solutions/flumen.php">Flumen Lens</a>
            </div>
            <div class='col'>
                <h3>COMPANY</h3>
                <br></br>
                <a href="">Careers</a>
                <br></br>
                <a href="">Portrait</a>
                <br></br>
                <a href="">Now</a>
                <br></br>
                <a href="">Milestones</a>
                <br></br>
                <a href="">Values</a>

            </div>
            <div class='col'>
                <h3>PARTNER</h3>
                <br></br>
                <a href="">Partners</a>
                <br></br>
                <a href="">Leistungen</a>
                <br></br>
                <a href="">Lean Six Sigma</a>
                <br></br>
                <a href="">Projektablauf</a>
                <br></br>
                <a href="">Help & Support</a>

            </div>
            <div class='col-1'>
                <img src="../img/arrow.svg" alt="">
            </div>
        </div>
        <br></br>
        <div class='row text-center'>
            <div class='col'>
                <a href="../impressum.php">Impressum</a>&nbsp;|&nbsp;<a href="../privacy.php">Datenschutz</a>&nbsp;|&nbsp;<a href="../contactform/contact.php">Kontakt</a>
            </div>
        </div>
    </footer>